:root {
   --color-primary: hsl(25, 97%, 53%);

   --color-accent-1: hsl(216, 12%, 8%);
   --color-accent-2: rgb(27, 35, 46);

   --color-neutral-1: hsl(0, 100%, 100%);
   --color-neutral-2: hsl(217, 12%, 63%);
   --color-neutral-2-01: hsla(217, 12%, 63%, 0.1);

   --spacing-sm-1: 0.5rem;
   --spacing-sm-2: 0.75rem;
   --spacing-md-1: 1rem;
   --spacing-md-2: 1.5rem;
   --spacing-lg-1: 2rem;
   --spacing-lg-2: 2.5rem;
   --spacing-xl-1: 3rem;
   --spacing-xl-2: 3.5rem;
}
